## Packages

In [3]:
import datapackage
import pandas as pd

data_url = 'https://datahub.io/core/population/datapackage.json'

## Population JSON file

In [4]:
package = datapackage.Package(data_url)

# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
        print (data)

      Country Name Country Code  Year      Value
0       Arab World          ARB  1960   92197753
1       Arab World          ARB  1961   94724510
2       Arab World          ARB  1962   97334442
3       Arab World          ARB  1963  100034179
4       Arab World          ARB  1964  102832760
...            ...          ...   ...        ...
15404     Zimbabwe          ZWE  2014   13586681
15405     Zimbabwe          ZWE  2015   13814629
15406     Zimbabwe          ZWE  2016   14030390
15407     Zimbabwe          ZWE  2017   14236745
15408     Zimbabwe          ZWE  2018   14439018

[15409 rows x 4 columns]
      Country Name Country Code  Year      Value
0       Arab World          ARB  1960   92197753
1       Arab World          ARB  1961   94724510
2       Arab World          ARB  1962   97334442
3       Arab World          ARB  1963  100034179
4       Arab World          ARB  1964  102832760
...            ...          ...   ...        ...
15404     Zimbabwe          ZWE  2014   13586681
15405     Zimbabwe          ZWE  2015   13814629
15406     Zimbabwe          ZWE  2016   14030390
15407     Zimbabwe          ZWE  2017   14236745
15408     Zimbabwe          ZWE  2018   14439018

[15409 rows x 4 columns]

In [5]:
population = pd.DataFrame(data)
population.head()

  Country Name Country Code  Year      Value
0   Arab World          ARB  1960   92197753
1   Arab World          ARB  1961   94724510
2   Arab World          ARB  1962   97334442
3   Arab World          ARB  1963  100034179
4   Arab World          ARB  1964  102832760

In [6]:
n_population = population[population.Year == 2000]
n_population.head()

                       Country Name Country Code  Year       Value
40                       Arab World          ARB  2000   282344154
99           Caribbean small states          CSS  2000     6513485
158  Central Europe and the Baltics          CEB  2000   108447824
217      Early-demographic dividend          EAR  2000  2472913805
276             East Asia & Pacific          EAS  2000  2047640119

In [7]:
type(n_population)

pandas.core.frame.DataFrame

In [8]:
n_population.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263 entries, 40 to 15390
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  263 non-null    object
 1   Country Code  263 non-null    object
 2   Year          263 non-null    int64
 3   Value         263 non-null    int64
dtypes: int64(2), object(2)
memory usage: 10.3+ KB

In [9]:
n_population['Country Name'] = n_population['Country Name'].astype('str')
n_population['Country Code'] = n_population['Country Code'].astype('str')

<ipython-input-9-d444fc5780e4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_population['Country Name'] = n_population['Country Name'].astype('str')
<ipython-input-9-d444fc5780e4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_population['Country Code'] = n_population['Country Code'].astype('str')

In [10]:
population_df = n_population[['Country Name','Country Code','Value']]
population_df.head()

                       Country Name Country Code       Value
40                       Arab World          ARB   282344154
99           Caribbean small states          CSS     6513485
158  Central Europe and the Baltics          CEB   108447824
217      Early-demographic dividend          EAR  2472913805
276             East Asia & Pacific          EAS  2047640119

In [11]:

population_df = population_df.rename(columns={'Country Name':'COUNTRY','Country Code':'COUNTRY_CODE','Value':'POPULATION'})

In [12]:
population_df.head()

                            COUNTRY COUNTRY_CODE  POPULATION
40                       Arab World          ARB   282344154
99           Caribbean small states          CSS     6513485
158  Central Europe and the Baltics          CEB   108447824
217      Early-demographic dividend          EAR  2472913805
276             East Asia & Pacific          EAS  2047640119

## Pharma CSV data

In [13]:
health = pd.read_csv("health_data.csv")

In [14]:
health.head()

  LOCATION  INDICATOR SUBJECT      MEASURE FREQUENCY  TIME   Value Flag Codes
0      AUS  PHARMAEXP     TOT  PC_HEALTHXP         A  1971  15.992        NaN
1      AUS  PHARMAEXP     TOT  PC_HEALTHXP         A  1972  15.091        NaN
2      AUS  PHARMAEXP     TOT  PC_HEALTHXP         A  1973  15.117        NaN
3      AUS  PHARMAEXP     TOT  PC_HEALTHXP         A  1974  14.771        NaN
4      AUS  PHARMAEXP     TOT  PC_HEALTHXP         A  1975  11.849        NaN

In [15]:
health = health.drop('Flag Codes', axis = 1)

In [16]:
health.head()

  LOCATION  INDICATOR SUBJECT      MEASURE FREQUENCY  TIME   Value
0      AUS  PHARMAEXP     TOT  PC_HEALTHXP         A  1971  15.992
1      AUS  PHARMAEXP     TOT  PC_HEALTHXP         A  1972  15.091
2      AUS  PHARMAEXP     TOT  PC_HEALTHXP         A  1973  15.117
3      AUS  PHARMAEXP     TOT  PC_HEALTHXP         A  1974  14.771
4      AUS  PHARMAEXP     TOT  PC_HEALTHXP         A  1975  11.849

In [20]:
n_health = health[health.TIME == 2000]
n_health.head()

    LOCATION  INDICATOR SUBJECT      MEASURE FREQUENCY  TIME   Value
29       AUS  PHARMAEXP     TOT  PC_HEALTHXP         A  2000  15.702
58       AUT  PHARMAEXP     TOT  PC_HEALTHXP         A  2000  12.734
153      CAN  PHARMAEXP     TOT  PC_HEALTHXP         A  2000  16.601
183      CZE  PHARMAEXP     TOT  PC_HEALTHXP         A  2000  24.659
223      DNK  PHARMAEXP     TOT  PC_HEALTHXP         A  2000   9.068

In [28]:
a = n_health[n_health.LOCATION == 'AUS']
a.head(15)

     LOCATION  INDICATOR SUBJECT      MEASURE FREQUENCY  TIME    Value
29        AUS  PHARMAEXP     TOT  PC_HEALTHXP         A  2000   15.702
1172      AUS  PHARMAEXP     TOT       PC_GDP         A  2000    1.196
1220      AUS  PHARMAEXP     TOT      USD_CAP         A  2000  338.157

In [21]:
type(n_health)

pandas.core.frame.DataFrame

In [22]:
n_health.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75 entries, 29 to 3374
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LOCATION   75 non-null     object
 1   INDICATOR  75 non-null     object
 2   SUBJECT    75 non-null     object
 3   MEASURE    75 non-null     object
 4   FREQUENCY  75 non-null     object
 5   TIME       75 non-null     int64
 6   Value      75 non-null     float64
dtypes: float64(1), int64(1), object(5)
memory usage: 4.7+ KB

In [23]:
n_health['LOCATION'] = n_health['LOCATION'].astype('str')

<ipython-input-23-3ff0e045f7c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_health['LOCATION'] = n_health['LOCATION'].astype('str')

In [24]:
health_df = n_health[['LOCATION','Value']]

In [25]:
health_df = health_df.rename(columns = {'LOCATION':'COUNTRY_CODE','Value':'% PHARMACEUTICAL_SPENDING'})
health_df.head()

    COUNTRY_CODE  % PHARMACEUTICAL_SPENDING
29           AUS                     15.702
58           AUT                     12.734
153          CAN                     16.601
183          CZE                     24.659
223          DNK                      9.068

In [26]:
pharma_df = pd.merge(population_df, health_df )
pharma_df.head(35)

           COUNTRY COUNTRY_CODE  POPULATION  % PHARMACEUTICAL_SPENDING
0        Australia          AUS    19153000                     15.702
1        Australia          AUS    19153000                      1.196
2        Australia          AUS    19153000                    338.157
3          Austria          AUT     8011566                     12.734
4          Austria          AUT     8011566                      1.172
5          Austria          AUT     8011566                    356.900
6           Canada          CAN    30685730                     16.601
7           Canada          CAN    30685730                      1.369
8           Canada          CAN    30685730                    406.881
9   Czech Republic          CZE    10255063                     24.659
10  Czech Republic          CZE    10255063                      1.406
11  Czech Republic          CZE    10255063                    252.890
12         Denmark          DNK     5339616                      9.068
13         Denmark          DNK     5339616                      0.735
14         Denmark          DNK     5339616                    212.623
15         Estonia          EST     1396985                     22.790
16         Estonia          EST     1396985                      1.175
17         Estonia          EST     1396985                    123.699
18         Finland          FIN     5176209                     15.036
19         Finland          FIN     5176209                      1.066
20         Finland          FIN     5176209                    282.070
21          France          FRA    60912500                     16.899
22          France          FRA    60912500                      1.620
23          France          FRA    60912500                    453.954
24         Germany          DEU    82211508                     14.058
25         Germany          DEU    82211508                      1.390
26         Germany          DEU    82211508                    406.882
27          Greece          GRC    10805808                     19.871
28          Greece          GRC    10805808                      1.439
29          Greece          GRC    10805808                    281.726
30         Iceland          ISL      281205                     14.832
31         Iceland          ISL      281205                      1.324
32         Iceland          ISL      281205                    395.515
33         Ireland          IRL     3805174                     14.176
34         Ireland          IRL     3805174                      0.837